# Emacs backup files
*~
# Rootfiles
*.root
# Pycache caca
__pycache__
# Images
*.png
.DS_Store
pyenv
pyenv_win
*.lock

# Trained models & graphs
*.pkl
*.pt
*.pth

tools/training_v2/*.csv
tools/training_v2/logs
tools/training_v2/data